#introset {
  margin-left: 200px;
}

#skill {
  width: 50rem;
  margin-left: 200px;
}

#projectset {
  width: 50rem;
  margin-left: 200px;
}

#contact {
  width: 50rem;
  margin-left: 200px;
  text-align: center;
}

footer {
  width: 50rem;
  margin-left: 200px;
}
